<div class="center">
    
    <section id="content">
        <h4 class="subheader">{{title}}</h4>

        <div id="products" *ngFor="let product of products">
            <article class="article-item" *ngIf="product.name.includes('Adaptador') || product.name.includes('adaptador')">
                <div class="image-wrap" >
                    <img src="{{url + '/products/display/' + product.image}}" alt="{{product.name}}">
                </div>

                <h3>{{product.name}}</h3>
                <span><strong>Precio: </strong>{{product.price}}€</span>
                <p><strong>Descripción: </strong>{{product.description}}</p>
                <button [routerLink]="['/home/editar', product.uuid]" class="btn btn-outline-primary" style="font-size:20px; color:rgba(124, 6, 160, 0.979)"> <i class="fa fa-pencil-square-o"></i>Editar</button>
                <button (click)="delete(product.uuid)" class="btn btn-outline-dark" style="font-size:20px;color:red"> <i class="fa fa-close"></i>Borrar</button>
                <div class="clearfix"></div>
            </article>
        </div>
        
    </section>
    <a [routerLink]="['/home']" class="btn btn-outline-secondary">Atrás</a>
</div>

